[workspace]

[package]
name = "xtask"
version = "0.1.0"
edition = "2021"
publish = false

[[bin]]
name = "xtask"
path = "src/main.rs"

[dependencies]
typify = "0.4"
serde_yaml = "0.9"
serde_json = "1.0"
prettyplease = "0.2"
syn = "2.0"
